Flask
python-dotenv
redis
qdrant-client
sentence-transformers
google-generativeai
llama-index
aiohttp
requests
gunicorn
flask-cors
beautifulsoup4
psycopg2-binary
pandas
llama-index-readers-file
llama-index-core
pymupdf
spacy